<a href="/">Get Back</a>
<% for(var i = 0; i < data['Search'].length; i++){ %>
<h1><%= data['Search'][i]['Title'] %></h1>
<h2><%= data['Search'][i]['Year'] %></h2>
<img src=<%= data['Search'][i]['Poster'] %>>
<h4> ---------------------------------------------------------------------------------------------------------------- </h4>
<% } %>
