<% include partials/header %>
<h1>This is the Home Page!</h1>

<img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1393,w_2479,x_0,y_260/f_auto,q_auto,w_1100/v1554745953/shape/mentalfloss/59739-istock-867491216.jpg" alt="">
<% include partials/footer %>