<% include partials/header %>

<h1>You fell in love with <%= thing %> </h1>

<%if(thing === 'shrek'){%>
    <p>Nice choice! Shrek is the best!!</p>
<% } %>

<p>P.S: This is the love.ejs</p>
<% include partials/footer %>